################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyFlock-0.9.slnx/FileContentIndex/4a83014f-bb79-4854-9242-350c49fbbc85.vsidx
