html {
    font-family: Arial;
    /*#DFEBF2*/
    
    background-size: cover;
    background-attachment: fixed;
}
.home_bg{
    background-image: url('../images/4518.webp');
    background-size: cover;
    background-attachment: fixed;
}
.bar {

    
    display: flex;
    background-color: black;
    color: white;
    padding: 10px;

    
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.index_section {
    background-color: rgba(0, 0, 0, 0.9999);
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}
  
  
  .button {
    
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial;
  }
  
  .button:hover { 
    background-color: #737373;
  }
  .title_text1 { 
 font-size: 3em;
 text-align: center;
  }
.button2 {
    
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial;
}

.userbutton {
    margin-left: auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial;
}
.userbutton:hover {
    background-color: #262626;
}
.button2:hover { 
  background-color: #262626;
}
.align {
  text-align: center;
}

  @font-face { 
    font-family: 'ChopinScript'; 
    src: url('fonts/ChopinScript.ttf') format('truetype'); 
  }
  @font-face { 
    font-family: 'Allura-Regular'; 
    src: url('fonts/Allura-Regular.ttf') format('truetype'); 
  }
  
  .MyFlockFont {
    font-family: 'Arial';
    text-align: center;
    color: white;
  }
  #sign_up_text {
    font-family: Arial;
    color: white;

  }
.sign_up_box {
    width: 600px;
    height: 600px;
    background: rgba(0, 0, 0, 0.9999);
    margin: 0 auto;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}

  .other_bg{
   
    background-color: #DFEBF2;

  }
 
  .sign_up_image{
      width: 100px;
      height: 100px;
      background-image: url('../images/sign_up_image.png');
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      align-items: center;
      left: 50%;
      
     
  }
.rounded {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 600px;
    height: 400px;
}
.center_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}