{% extends 'form.html' %}
{%block content%}

<form action="/addchicken" method="post">
    <br>
    <h2 class="text-center">Add a New Chicken to Your Flock</h2>
    <br>
    <br>

    <div class="mb-3">
        <input type="text" id="name" name="name" class="form-control mx-auto w-auto" required placeholder="Chicken name">

    </div>
    <div class="mb-3">
        <select required class="form-select mx-auto w-auto" name="breed">
            <option disabled selected>Breed</option>

            <option value="Ameraucana">Ameraucana</option>
            <option value="Andalusian">Andalusian</option>
            <option value="Australorp">Australorp</option>
            <option value="Brahma">Brahma</option>
            <option value="Cochin">Cochin</option>
            <option value="Delaware">Delaware</option>
            <option value="Dominique">Cochin</option>
            <option value="Easter Egger">Easter Egger</option>
            <option value="Leghorn">Leghorn</option>
            <option value="Marans">Marans</option>
            <option value="Orpington">Orpington</option>
            <option value="Plymouth Rock">Plymouth Rock</option>
            <option value="Rhode Island Red">Rhode Island Red</option>
            <option value="Silkie">Silkie</option>
            <option value="Sussex">Sussex</option>
            <option value="Jersey Giant ">Jersey Giant</option>
            <option value="Plymouth Rock">Plymouth Rock</option>
            <option value="Rhode Island Red">Rhode Island Red</option>

        </select>
    </div>

    <div class="mb-3">
        <input type="date" name="birth" class="form-control mx-auto w-auto" required placeholder="Birthdate">
    </div>
    <div class="mb-3">
        <input name="info" class="form-control mx-auto w-auto" placeholder="Extra info">
        <div id="emailHelp" class="form-text">Optional</div>
    </div>
        <button type="submit" class="btn btn-primary">Add Chicken</button>
</form>
{%endblock%}