{% extends 'form.html' %}
{%block content%}
<h1 class="text-center">Sign In</h1>
<form action="/signin" method="post">
    <div class="mb-3">
        <label class="form-label" for="username">Username:</label>
        <input class="form-control mx-auto w-auto" type="text" id="username" name="username" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password:</label>
        <input class="form-control mx-auto w-auto" type="password" id="password" name="password" required>
    </div>
    <button class="btn btn-primary" type="submit">Sign In</button>

</form>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<i>Don't have an account? </i>
<div class="mb-3">
    
    <br />
    <a href="/signup" class="btn btn-primary">Sign Up</a>
</div>
    {%endblock%}
