<!DOCTYPE html>
<html>
<head>


    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="other_bg">
    <br />
    <br />
    <br />
    <br />
    <br />
    <section class="sign_up_box">
        <div class="sign_up_image"> </div>    
    </section>


    <script scr="{{ url_for('static', filename='js/index.js')}}"></script>
</body>
</html>
